<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${people.getName() + ', ' + people.getDateBirth()}">VALUE</p>

<div th:if="${not #lists.isEmpty(books)}">
    <hr/>
    <a th:text="${'Книги: '}"></a>
    <div th:each="book : ${books}">
        <a th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getDateCreation()}">book</a>
    </div>
</div>
<div th:if="${#lists.isEmpty(books)}">
    <p>Человек пока не взял ни одной книги</p>
</div>
<hr/>

<form th:action="@{/peoples/{id}/edit(id=${people.getId()})}" method="get">
    <button type="submit">Редактирование</button>
</form>
<form th:method="DELETE" th:action="@{/peoples/delete/{id}(id=${people.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>